parameters:
    level: 8

    errorFormat: symplify

    paths:
        - bin
        - src
        - tests

    treatPhpDocTypesAsCertain: false

    excludePaths:
        - */Fixture/*
        - */Source/*
